<div *ngIf="player" class="card">
  <div class="player-summary">
    <div class="player-header">
      <img [src]="player.photo_url" alt="{{player.first_name}} {{player.last_name}}">
      <div class="player-info">
        <h2>{{player.first_name}} {{player.last_name}}</h2>
        <p>{{player.team_name}} - #{{player.number}} - {{player.position}}</p>
        <p>HT/WT: {{player.height}}", {{player.weight}} lbs</p>
        <p>Birthdate: {{player.date_of_birth | date:'MM/dd/yyyy'}}</p>
      </div>
    </div>
    <div class="flex flex-grow-1 justify-content-center">
      <!-- Put and center team logo here -->
    </div>
    <div class="p-3">
      <div class="player-details">
        <div class="player-stats">
          <h3>2023 SEASON STATS</h3>
          <ul>
            <li>Passing Yards: {{player.season_passing_yards}}</li>
            <li>Passing TDs: {{player.season_passing_tds}}</li>
            <!-- Add other stats as needed based on position -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  