<div class="container">
    <h2>Stats</h2>
    <hr />
    <!-- Filters -->
    <div class="d-flex align-items-center mt-3">
        <!-- Position selector -->
        <div class="me-3">
            <position-selector [includeKicker]="true" [(selectedPositions)]="selectedPositions"></position-selector>
        </div>
        <!-- Team selector -->
        <div class="me-3">
            <team-selector [(selectedTeams)]="selectedTeams"></team-selector>
        </div>
        <!-- Season selector -->
        <div class="me-3">
            <season-selector [(selectedSeasons)]="selectedSeasons"></season-selector>
        </div>
        <div>
            <button pButton class="btn btn-primary" (click)="search()" label="Search"></button>
        </div>
    </div>
    <!-- Tables -->
    <div class="mt-3" *ngIf="season_stats != null; else loadingStats">
        <player-stats-display [playerSeasons]="season_stats"></player-stats-display>
    </div>
    <ng-template #loadingStats>
        <div class="mt-5 w-100 d-flex justify-content-center">
            <div class="d-flex flex-column">
                <p class="text-center">Loading...</p>
                <div>
                    <p-progressSpinner></p-progressSpinner>
                </div>
            </div>            
        </div>
    </ng-template>
</div>