<div class="container">
  <!-- Floating Icon Bar -->
    <div class="position-fixed icon-bar">
      <div class="card">
        <!-- Icons go here -->
        <div class="d-flex flex-column h-100 py-4 align-items-center">
          <div class="mb-4">
            <a href="#" class="nav-link"><i class="fab fa-twitter fa-2xl" style="color:rgb(0, 162, 255)"></i></a>
          </div>
          <div class="my-4">
            <a href="#" class="nav-link"><i class="fab fa-facebook fa-2xl" style="color:blue"></i></a>
          </div>
          <div class="my-4">
            <a href="#" class="nav-link"><i class="fab fa-reddit fa-2xl" style="color:orangered"></i></a>
          </div>
          <div class="mt-4">
            <a href="#" class="nav-link"><i class="fas fa-comments fa-2xl" style="color:rgb(255, 30, 0)"></i></a>
          </div>
        </div>
      </div>
    </div>
  <div>
  <div class="row">
  <!-- Article content -->
    <div class="col-md-8">
      <ng-container *ngIf="article">
        <img src="./../assets/images/news-images/{{article.image_url}}" class="article-image" alt="...">
      </ng-container>
    </div>
    <!-- Top headlines component floated to the right -->
    <div class="col-md-4">
      <top-headlines></top-headlines>
    </div>
  </div>
  <div class="row mt-5">
      <ng-container *ngIf="article; else loading">
        <div class="card p-4">
          <h2>{{ article.title }}</h2>
          <p class="text-muted">{{ article.created_at | date }} by {{ article.author }}</p>
          <p>{{ article.description }}</p>
          <div class="article-content" [innerHTML]="article.article_content"></div>
        </div>
      </ng-container>
      <ng-template #loading>
        <p class="p-3">Loading article...</p>
      </ng-template>
    </div>
  </div>
</div>