<div class="container mb-5">
    <!-- Player Summary -->
    <div class="mt-3">
        <player-summary [player_id]="player_id"></player-summary>
    </div>

    <!-- Player Seasons -->
    <h3 class="mt-5">Season Stats</h3>
    <div *ngIf="player_seasons != null">
        <player-stats-display [playerSeasons]="player_seasons"></player-stats-display>
        <!-- <p-table [columns]="cols" [value]="player_seasons" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        @switch(col.field){
                            @case('team.abbreviation'){
                                {{rowData.team.abbreviation}}
                            }
                            @case('player.position'){
                                {{rowData.player.position}}
                            }
                            @default {
                                {{ rowData[col.field] }}
                            }
                        }
                    </td>
                </tr>
            </ng-template>
        </p-table> -->
    </div>

    <!-- News -->
    <h3 class="mt-3">News</h3>
    <div *ngIf="newsItems != null && newsItems.length > 0; else noNews">
        <ng-container *ngFor="let newsItem of newsItems">
            <div class="card p-4 mb-3">
                <h4>{{newsItem.title}}</h4>
            </div>
        </ng-container>
    </div>
    <ng-template #noNews>
        <div class="card p-4">
            No news for this player.
        </div>
    </ng-template>

    <!-- Injury Reports -->
    <h3 class="mt-3">Injury Reports</h3>
    <div *ngIf="injuryReports != null && injuryReports.length > 0; else noInjuryReports">
        <ng-container *ngFor="let injReport of injuryReports">
            <div class="card p-4 mb-3">
                <h4>{{injReport.title}}</h4>
            </div>
        </ng-container>
    </div>
    <ng-template #noInjuryReports>
        <div class="card p-4">
            No Injury reports for this player.
        </div>
    </ng-template>
</div>
