<div class="container">
    <div class="row">
    <!-- Article content -->
      <div class="col-md-8">
        <ng-container *ngIf="article">
          <img src="../../assets/images/avatars/{{article.player.photo_url}}" class="article-image" alt="...">
          <h5 class="mt-4">{{ article.title }}</h5>
          <p><small class="text-muted">{{ article.created_at | date }} by {{ article.author }}</small></p>
        </ng-container>
      </div>
      <!-- Top headlines component floated to the right -->
      <div class="col-md-4">
        <top-headlines></top-headlines>
      </div>
    </div>
    <div class="row mt-3">
      <div>
        <ng-container *ngIf="article; else loading">
          <div>
            <div class="article-content" [innerHTML]="article.article_content"></div>
          </div>
        </ng-container>
        <ng-template #loading>
          <p class="p-3">Loading article...</p>
        </ng-template>
      </div>
    </div>
  </div>