<div class="container">
    <!-- Top News Section -->
    <div class="row mb-4">
      <h2>Latest News</h2>
      <hr/>
      <!-- Top News Story -->
      <div class="col-lg-8">
        <div *ngFor="let article of articles | slice:0:1">
          <div class="card mb-3">
            <img src="../../assets/images/news-images/{{article.image_url}}" class="top-news-card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <p class="card-text">{{ article.description }}</p>
              <a routerLink="/news/article/{{article.id}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Headlines Component -->
      <div class="col-lg-4">
          <top-headlines></top-headlines>
      </div>
    </div>
  
    <!-- Other Articles -->
    <div class="row">
      <div class="col-lg-12">
        <h3>More Headlines</h3>
        <div class="row gy-4">
          <ng-container *ngFor="let article of articles | slice:1">
            <div class="col-4">
              <div class="card h-100">
                <img class="card-img-top" src="../../assets/images/news-images/{{ article.image_url }}" alt="Card image cap" />
                <div class="card-body">
                  <div class="d-flex flex-column h-100">
                    <div class="h-50">
                      <a routerLink="/news/article/{{article.id}}" class="text-decoration-none">
                        <h5 class="card-title">{{ article.title }}</h5>
                      </a>
                      <h6 class="card-subtitle mb-3 text-muted">
                        {{ article.author }} - {{ article.created_at | date }}
                      </h6>
                    </div>
                    <p class="card-text mt-3">{{ article.description | truncate:90}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  