.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-box {
    width: 550px;
    padding: 50px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    height: 85vh;
  }
  
  .signup-image-box {
    width: 550px;
    border-radius: 0px 5px 5px 0px;
    background-image: url('../../assets/images/general/qb-throw.jpg');
    background-size: cover;
    height: 85vh;
  }
  
  .logo {
    display: block;
    margin-left:auto;
    width: 150px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: 100%;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #007bff;
  }
  