<div class="d-flex flex-column min-vh-100">
    <!-- Nav Bar Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../assets/images/logos/DDD_logo1_small.png" height="100px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/news">News</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/injury-report">Injury Report</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/draft">Mock Draft</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/rankings">Rankings</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/stats">Stats</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/players">Players</a>
                </li>
              </ul>
              <ng-container *ngIf="!isLoggedIn">
                <!-- Right-aligned links -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/signup">Sign Up</a>
                    </li>
                    </ul>
              </ng-container>
              <ng-container *ngIf="isLoggedIn">
                <!-- Right-aligned links -->
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/logout">Log Out</a>
                  </li>
                </ul>
              </ng-container>
          </div>
      </div>
    </nav>
    
    <!-- Page Content -->
    <div class="flex-grow-1 bg-light">
      <router-outlet></router-outlet>
    </div>
    
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 YourBrandName:
          <a class="text-dark" href="https://yourwebsite.com/">yourwebsite.com</a>
      </div>
    </footer>
</div>
