<div class="d-flex flex-column min-vh-100">
    <!-- Nav Bar Header -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(32, 32, 32);">
      <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../assets/images/logos/DDD_logo1_small.png" height="80px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/news">News</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/injury-report">Injury Report</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/draft">Mock Draft</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/rankings">Rankings</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/stats">Stats</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/teams">Teams</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/players">Players</a>
                  </li>
              </ul>
              <ng-container *ngIf="!isLoggedIn">
                <!-- Right-aligned links -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/signup">Sign Up</a>
                    </li>
                    </ul>
              </ng-container>
              <ng-container *ngIf="isLoggedIn">
                <!-- Right-aligned links -->
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link text-white" routerLink="/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white" routerLink="/logout">Log Out</a>
                  </li>
                </ul>
              </ng-container>
          </div>
      </div>
    </nav>
    
    <!-- Page Content -->
    <div class="flex-grow-1 bg-light py-5">
      <router-outlet></router-outlet>
    </div>
    
    <!-- Footer -->
    <footer class="text-center text-lg-start" style="background-color: rgb(0, 0, 0);">
      <div class="text-center p-3">
          <div class="text-white">© 2024 Draft Day Divas</div>
          <div>
            <a class="text-white" href="https://www.ryanvagle.com/">www.ryanvagle.com</a>
          </div>
      </div>
    </footer>
</div>
