<div class="card p-4">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3">Recent Performances</h3>
            <ng-container *ngFor="let game of gameLogs">
                <p>
                    Week: {{game.week}} -- Points: {{game.points | number:'1.2-2'}}
                </p>
            </ng-container>
        </div>
        <div class="col-6">
            <div>
                <p-button class="p-button-success btn-sm me-3" size="small" (onClick)="changeChartToLast4()">Week by Week</p-button>
                <p-button class="p-button-success btn-sm" size="small" (onClick)="changeChartToRadar()">Points Breakdown</p-button>
            </div>
            <div>
                @switch (chartMode) {
                    @case (ChartMode.Last4) {
                        <p-chart type="bar" [data]="recentGamesData" [options]="recentGamesChartoptions" [height]="chartHeight"></p-chart>
                    }
                    @case (ChartMode.Radar){
                        <div>Total Points: {{statTotals.TotalPoints | number:'1.2-2'}}</div>
                        <p-chart type="polarArea" [data]="radarGamesData" [options]="radarChartoptions" [height]="chartHeight"></p-chart>
                    }
                }
            </div>
        </div>
    </div>
</div>