<div class="bg-light">
    <div class="container" *ngIf="model">
        <h2>Profile</h2>
        <hr />
        <div class="mb-2">
            <label>Email</label><br/>
            <input pInputText type="text" [(ngModel)]="model.email">
        </div>
        <div class="mb-2">
            <label>Username</label><br/>
            <input pInputText type="text" [(ngModel)]="model.username">
        </div>
        <div class="mb-2">
            <label>First Name</label><br/>
            <input pInputText type="text" [(ngModel)]="model.first_name">
        </div>
        <div class="mb-2">
            <label>Last Name</label><br/>
            <input pInputText type="text" [(ngModel)]="model.last_name">
        </div>
        <div class="mt-4">
            <button pButton pRipple label="Submit" (click)="saveProfile()" class="btn btn-success"></button>
        </div>
    </div>
</div>