<!-- Banner -->
<div class="home-banner">
  <div class="home--banner-text p-5">
    <h1 class="text-white">Draft Day Divas</h1>
  </div>
</div>

<!-- Position Leaders Display -->
<div class="container py-5">
  <h3>Positional Leaders</h3>
  <hr class="mb-4" />
  <top-players></top-players>
</div>

<!-- Top Stories -->
<div class="container py-5">
  <h4>Top Stories</h4>
  <hr />
  <div class="row">
    <ng-container *ngFor="let article of articles.slice(0, 3)">
      <div class="col-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/images/news-images/{{ article.image_url }}" alt="Card image cap" />
          <div class="card-body">
            <a routerLink="/news/article/{{article.id}}" class="text-decoration-none">
              <h5 class="card-title">{{ article.title }}</h5>
            </a>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ article.author }} - {{ article.created_at | date }}
            </h6>
            <p class="card-text">{{ article.description }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- Player Profile -->
<div class="container py-5" *ngIf="randomPlayer != null">
  <h4>Player Profile</h4>
  <hr />
  <player-summary [player_id]="randomPlayer"></player-summary>
</div>
