<!-- Banner -->
<div class="home-banner">
  <div class="home--banner-text p-5">
    <h1 class="text-white display-1">Draft Day Divas</h1>
  </div>
</div>

<!-- Position Leaders Display -->
<div class="container py-5">
  <h3>Positional Leaders</h3>
  <hr class="mb-4" />
  <top-players></top-players>
</div>

<!-- Top Stories -->
<div class="container py-4">
  <h4>Top Stories</h4>
  <hr />
  <div class="row" *ngIf="!loading; else loadingArticles">
    <ng-container *ngFor="let article of articles.slice(0, 3)">
      <div class="col-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/images/news-images/{{ article.image_url }}" alt="Card image cap" />
          <div class="card-body">
            <div class="d-flex flex-column h-100">
              <div class="h-50">
                <a routerLink="/news/article/{{article.id}}" class="text-decoration-none">
                  <h5 class="card-title">{{ article.title }}</h5>
                </a>
                <h6 class="card-subtitle mb-3 text-muted">
                  {{ article.author }} - {{ article.created_at | date }}
                </h6>
              </div>
              <p class="card-text mt-3">{{ article.description | truncate:90}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #loadingArticles>
    <div class="row">
      <div class="col-4">
        <p-skeleton width="100%" height="300px"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="100%" height="300px"></p-skeleton>
      </div>
      <div class="col-4">
        <p-skeleton width="100%" height="300px"></p-skeleton>
      </div>
    </div>
  </ng-template>
</div>

<!-- Player Profile -->
<div class="container py-4" *ngIf="randomPlayer != null">
  <h4>Player Profile</h4>
  <hr />
  <player-summary [player_id]="randomPlayer"></player-summary>
</div>
