<!-- Do a "LEADERS" component here [QB] [RB] [WR] [TE] [K]-->
<div class="container">
    <h1>Positional Leaders</h1>

    <!-- 5 equally sized boxes -->
    <div class="row top-players-container">
        <!-- QB -->
        <div class="col top-player-container">
            <div class="player-info-container">
                <p>{{topQB.position}}</p>
                <img src="../../assets/images/avatars/{{topQB.photo_url}}" class="img-fluid" alt="{{topQB.first_name}} {{topQB.last_name}}">
            </div>
            <div  class="player-info-container">
                <div class="player-info">
                    <h2>{{topQB.first_name}} {{topQB.last_name}}</h2>
                    <p>Yards {{topQB.season_stats.passing_yards}}</p>
                    <p>Touchdowns {{topQB.season_stats.passing_tds }}</p>
                    <p>Points: {{topQB.season_stats.fantasy_points}}</p>
                </div>            
            </div>
        </div>
        <!-- RB -->
        <div class="col top-player-container">
            <div class="player-info-container">
                <p>{{topRB.position}}</p>
                <img src="../../assets/images/avatars/{{topRB.photo_url}}" class="img-fluid" alt="{{topRB.first_name}} {{topRB.last_name}}">
            </div>
            <div class="player-info-container">
                <div class="player-info">
                    <h2>{{topRB.first_name}} {{topRB.last_name}}</h2>
                    <p>Yards {{topRB.season_stats.rushing_yards}}</p>
                    <p>Touchdowns {{topRB.season_stats.rushing_tds }}</p>
                    <p>Points: {{topRB.season_stats.fantasy_points}}</p>
                </div>            
                
            </div>
        </div>
        <!-- WR -->
        <div class="col top-player-container">
            <div class="player-info-container">
                <p>{{topWR.position}}</p>
                <img src="../../assets/images/avatars/{{topWR.photo_url}}" class="img-fluid" alt="{{topWR.first_name}} {{topWR.last_name}}">
            </div>
            <div class="player-info-container">                
                <div class="player-info">
                    <h2>{{topWR.first_name}} {{topWR.last_name}}</h2>
                    <p>Yards {{topWR.season_stats.receiving_yards}}</p>
                    <p>Touchdowns {{topWR.season_stats.receiving_tds }}</p>
                    <p>Points: {{topWR.season_stats.fantasy_points}}</p>
                </div>            
            </div>
        </div>

        <!-- TE -->
        <div class="col top-player-container">
            <div class="player-info-container">
                <p>{{topTE.position}}</p>
                <img src="../../assets/images/avatars/{{topTE.photo_url}}" class="img-fluid" alt="{{topTE.first_name}} {{topTE.last_name}}">
            </div>
            <div class="player-info-container">
                <div class="player-info">
                    <h2>{{topTE.first_name}} {{topTE.last_name}}</h2>
                    <p>Yards {{topTE.season_stats.receiving_yards}}</p>
                    <p>Touchdowns {{topTE.season_stats.receiving_tds }}</p>
                    <p>Points: {{topTE.season_stats.fantasy_points}}</p>
                </div>                
                
            </div>
        </div>

        <!-- Kicker -->
        <div class="col top-player-container">
            <div class="player-info-container">
                <p>{{topK.position}}</p>
                <img  src="../../assets/images/avatars/{{topK.photo_url}}" class="img-fluid" alt="{{topK.first_name}} {{topK.last_name}}">                
            </div>
            <div class="player-info-container">                
                <div class="player-info">
                    <h2>{{topK.first_name}} {{topK.last_name}}</h2>
                    <p>FG Made {{topK.season_stats.fgm}}</p>
                    <p>FG Attempted {{topK.season_stats.fga }}</p>
                    <p>Points: {{topK.season_stats.fantasy_points}}</p>
                </div>
            </div>
        </div>
    </div>

</div>