<div class="container">
    <div>
        <h1>Rankings</h1>
        <hr/>
        <div class="row">
            <p>Here are the rankings for week 18! Below are the PPR rankings for this week. To select other rankings, use the menu to the left.</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="row">
            <!-- Search and Filtering -->
            <div class="col-3 d-flex flex-column">
                <label>Player Search</label>
                <input type="text" pInputText placeholder="Search" class="w-100"
                    (input)="filterGlobal($event)" />
                <div class="mt-2">
                    <div>
                        <label>Positions</label>
                    </div>
                    <position-selector [includeKicker]="true" [(selectedPositions)]="selectedPositions" (selectedPositionsChange)="selectedPositionsChange($event)"></position-selector>
                </div>
            </div>
            <!-- Rankings table -->
            <div class="col-9">
                <ng-container *ngIf="playerRankings.length > 0">
                    <p-table [columns]="rankingsCols" [value]="playerRankings" [tableStyle]="{ 'min-width': '50rem' }" 
                        [paginator]="true"
                        [rows]="50"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[25, 50, 100]"
                        dataKey="id"
                        [expandedRowKeys]="keys"
                        #rankingsTable>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                            <tr>
                                <td *ngFor="let col of columns" class="text-center" [hidden]="col.hidden">
                                    @switch (col.field) {
                                        @case ("team.abbreviation") {
                                            {{rowData.team.abbreviation}}
                                        }
                                        @case ("name") {
                                            <div class="d-flex justify-content-start align-items-end">
                                                <img src="../../assets/images/avatars/{{rowData.photo_url}}" class="me-4" style="width: 60px; height: 60px; object-fit: contain;" alt="Player Image">
                                                <span (click)="onItemClick(rowData, rankingsTable)" class="fs-2 text-black clickable-text">
                                                    {{rowData.first_name}} {{rowData.last_name}}
                                                </span>
                                            </div>
                                        }
                                        @default {
                                            {{ rowData[col.field] }}
                                        }
                                    }
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-rowData>
                            <tr>
                                <td [attr.colspan]="rankingsCols.length" class="pb-2">
                                    <label>Weekly Projection: {{rowData.projected_points}} pts</label>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>             
            </div>
        </div>
    </div>
</div>