<div *ngIf="show" class="row mt-3">
    <ng-container *ngFor="let player of players">
        <div class="col top-player-container">
            <div class="player-av-container" [ngStyle]="{'background-image': 'url(../../assets/images/logos/nfl_logos/' + player.team.logo_url + ')'}">
                <img  src="../../assets/images/avatars/{{player.photo_url}}" class="img-fluid" alt="{{player.first_name}} {{player.last_name}}">                
            </div>
            <div class="player-info-container" [ngStyle]="{'background-color': player.team.team_color_primary}">                
                <div class="player-info">
                    <h4>{{player.first_name}} {{player.last_name}}</h4>
                    <p>{{player.position}}</p>
                    @switch (player.position) {
                        @case ("QB") {
                            <p>Passing Yards {{topQB.season_stats.passing_yards}}</p>
                            <p>Passing TDs {{topQB.season_stats.passing_tds }}</p>
                            <p>Points: {{topQB.season_stats.fantasy_points}}</p>
                        }
                        @case ("RB") {
                            <p>Rushing Yards {{topRB.season_stats.rushing_yards}}</p>
                            <p>Rushing TDs {{topRB.season_stats.rushing_tds }}</p>
                            <p>Points: {{topRB.season_stats.fantasy_points}}</p>
                        }
                        @case ("WR") {
                            <p>Receiving Yards {{topWR.season_stats.receiving_yards}}</p>
                            <p>Receiving TDs {{topWR.season_stats.receiving_tds }}</p>
                            <p>Points: {{topWR.season_stats.fantasy_points}}</p>
                        }
                        @case ("TE") {
                            <p>Receiving Yards {{topTE.season_stats.receiving_yards}}</p>
                            <p>Receiving TDs {{topTE.season_stats.receiving_tds }}</p>
                            <p>Points: {{topTE.season_stats.fantasy_points}}</p>
                        }
                        @case ("K") {
                            <p>FG Made {{player.season_stats.fgm}}</p>
                            <p>FG Attempted {{player.season_stats.fga }}</p>
                            <p>Points: {{player.season_stats.fantasy_points}}</p>                            
                        }
                    }
                </div>
            </div>
        </div>
    </ng-container>
</div>